[Unit]
Description=Update Monitoring
After=plasma-ksmserver.service plasma-kcminit.service
PartOf=graphical-session.target

[Service]
# Type=oneshot
ExecStartPre=sleep 15
ExecStart=/usr/local/bin/update-monitoring

[Install]
WantedBy=plasma-core.target
