[Unit]
Description=checks memory usage and restarts if it is using memory execively

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
